.sect {
    background-color: #e7e7e7;
}

#myId {
    text-align: center;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.header {
    text-align: center;
}



.hero {
    background-color: white;
    padding-bottom:  5px;
    margin: 20px;
}

.hero_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero_text {
    text-align: center;
}

h3 {
    text-align: center;
    padding-bottom: 30px;
}

div.list_sect {
    padding-left: 400px;
    padding-right: 400px;
 }

 .footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



#Top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #TOP {
    float: left;
  }
  
  #Top a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #Top a:hover {
    background-color: #111;
  }
  
  a {
      text-decoration: none;
  }